{% extends 'base.html'%}

{% block content %}

    {% if messages %}
        {% for message in messages %}

        <div class="alert alert-warning alert-dismissable" role="alert">
            
            <button class="close" data-dismiss="alert">
                <small><sup> x </sup></small>
            </button>

            {{ message }}

        </div>
        {% endfor %}
    {% endif %}

    {% if all_todos %}
    <table class="table tabled-bordered">
        {% for todo in all_todos %}
    
                <tr>
                    <td>
                        <div class="card">
                            <a href="{% url 'detail' todo.id %}">
                              <div class="card-content">
                                <span class="card-title"></span>
                                
                                  <p>{{ todo.add_item }}</p>
                                
                              </div>
                            </a>
                        </div>
                    </td>

                    <td> 
                        <div class="card bg bg-info">
                            
                              <div class="card-content">
                                <span class="card-title"></span>
                                <p>
                                    <a class="text-white" href="{% url 'todos_update' todo.id %}"> 
                                        Edit 
                                    </a>

                                </p>
                                
                              </div>
                            
                        </div>
                        
                    <td>
                    
                    <td> 
                        <div class="card bg bg-danger">
                            
                              <div class="card-content">
                                <span class="card-title"></span>
                                <p>
                                    <a href="{% url 'delete' todo.id %}"> 
                                        delete 
                                    </a>

                                </p>
                                
                                  <!-- <p>{{ todo.add_item }}</p> -->
                                
                              </div>
                            
                        </div>
                        
                    <td>
                </tr>
        {% endfor %}
    </table>
        
    {% endif %}

{% endblock %}